.wrapper{
    width: 50%;
    height: 300px;
    margin: 20px auto;
    margin-bottom: 100px;
    padding: 15px 0;
    /* background-color: #EEEEEE; */
    background-color: #FAFAFA;
    box-shadow: 3px 3px 4px 5px #BDBDBD;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.wrapper h3{
    color:#4978aa;
}

.colab-container{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner-container{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.form-collaborate{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

.colab-container input{
    width: 90%;
    height: 35px;
    /* background-color: #512DA8; */
    background-color: #F1EFEC;
    color: black;
    text-align: right;
    font-size: 14px;
    padding: 4px 6px;
    border-radius: 17px;
    border: 1px solid #757575;

}

.colab-container input:focus{

  border-color: #183B4E;
  box-shadow: 0 0 0 0.2rem rgba(39, 84, 138, 0.115);

}



#text-box{
    width: 100%;
    color: black;
    text-align: right; 
    font-size: 14px;
    padding: 4px 6px;  
    border-radius: 17px;
}

#text-box:focus{
  border-color: #183B4E;
  box-shadow: 0 0 0 0.2rem rgba(39, 84, 138, 0.115);
}

input::placeholder{
    color: #757575;
} 


input:active {
  transform: scale(1.05);
}