.comments{
    margin: 100px auto 100px;
    height: 350px;
    width: 62%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-box{
    text-align: right;
    width: 300px;
    height: 250px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    padding: 3px;
    border-bottom: 7px solid #4527A0;
    border-radius: 0.5rem;
    position: relative;
}

.comment-box:hover{
    transform: translateY(3px);
    transition: 0.15s;
    transition-delay: 0.05s;
}

.comment{
    width: 80%;
    margin: 15px auto;
}

.comment h4{
    position: absolute;
    bottom: 20px;
}

.quote::before{
    font-size: 40px;
    font-family:'Franklin Gothic Medium';
    content: "\201C";
    color: #4527A0;
}