.slider-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 80px auto;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
  margin-top: 70px;
}


.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background: #27548a67;
  color: #ffd277a2;
  font-size: 28px;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}

.slider-arrow:hover {
  background: #183B4E;
  color: #ffd277;
}

.slider-arrow.left {
  left: -60px;
}

.slider-arrow.right {
  right: -60px;
}


.slick-dots li button:before {
  font-size: 20px;
  color: #27548A;
}

.slick-dots li.slick-active button:before {
  color: #27548A;
}


@media (max-width: 768px) {
  .slider-wrapper {
    width: 90%;
  }

  .slide img {
    height: 220px;
  }

  .slider-arrow.left {
    left: -40px;
  }

  .slider-arrow.right {
    right: -40px;
  }
}
