.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container{
    width: 30%;
    height: 300px;
    background-color: blue;
}

.form{
    width: 70%;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
}