@import url('https://cdn.jsdelivr.net/npm/vazirmatn@33.0.0/Vazirmatn-font-face.css');

*{
  font-family: 'Vazirmatn';
}

body{
  background: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}
